/* top header */
.top-header{
    background: #d3066d;
    height: 40px;
    margin: auto;
}
/* middle header */
.middle-header{
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    color: #000;
    height: 72px;
}
.middle-header input{
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 20px;
    height: 37px;
    opacity: .9;
    width: 485px;
    padding: 10px;
    font-family: inherit;
}
.middle-header input:focus{
    outline:1px solid #d3066d ;
    
}
.middle-header ul li a{
font-size: 12px;
font-weight: 300;
}
.middle-header span{
    background: #212121;
}

/* category header */
.category-header{
height: 45px;
border-bottom: 1px solid rgba(0, 0, 0, .12);
}
