/* for coupon box */
.coupon-box{ 
    background: linear-gradient(262.92deg, #a36bfc 4.14%, #f4627a 87.63%);
    font-family: Inter, sans-serif;
    border-radius: 10px;
    height: 165px;
    width: 506px;
    position: relative;
}
.coupon-box .circle-left{
        background-color: #fff;
        border-radius: 50%;
        height: 60px;
        position: absolute;
        top: 31%;
        left: -35px;
        width: 60px;
}
.coupon-box .circle-right {
    background-color: #fff;
    border-radius: 50%;
    height: 60px;
    position: absolute;
    top: 31%;
    right: -35px;
    width: 60px;
}
/* details button */
.coupon-detail-button{
background: #212121;
border-radius: 5px;
font-weight: 700;
height: 16px;
width: 65px;
font-size: 10px;

}
/* copy button */
.copy-code-button{
    margin-top: 20px;
    background: #d3066d;
    color:#fff;
    padding: 2px 4px;
    font-size: 12px;
    width: 150px;
}