/* top footer */
.top-footer{
        background-color: #1c1c1c;
        height: 225px;
        padding: 47px 0;
}
.top-footer img{
    width: 84px;
    height: 84px;
}

/* middle footet */
.middle-footer{
    background-color: #000;
    color: #fff;
    font-family: Lato, sans-serif ;
    padding-top: 64px;
    padding-bottom: 40px;
}
.social-img img{
    width: 24px;
    height: 24px;
   
}
/* bottom footer */
.bottom-footer{
        background-color: #d3066d;
        color: #fff;
        font-family: Lato, sans-serif ;
        font-size: 13px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 400;
        letter-spacing: normal;
        line-height: 1.54;
        min-height: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
        }
